
<tr>
  <td>
     <% if depth > 0 -%>
      <% if root.published?  -%>
        <%= link_to 'publicado', {:action => 'bloquear', :id => root} ,
          :style => 'color: #468800; font-weight: bold;' -%>
      <% else -%>
        <%= link_to 'pendiente', {:action => 'publicar', :id => root},
          :style => 'color: #cc0000; font-weight: bold;' -%>
      <% end -%>
    <% end  -%>
  </td>
  <td>
    <%= foro_icon depth, root.state == 'published' -%>
    <%= link_to_if depth == 1, root.title, :controller => 'si/ver', :action => 'ver_tema', :id => root -%>
    > <%= root.content -%>
  </td>
  <td><%= fecha root.created_at -%></td>
  <td class="actions">
    <%= link_to(icon(:delete, 'borrar'), [:admin, root], :confirm => 'seguro?', :method => :delete) if root.children.size == 0 && depth > 0 -%>
  </td>
</tr>

<% for node in root.children -%>
  <%= render :partial => 'si_foro_child', :locals => {:root => node, :depth => depth + 1} -%>
<% end -%>