<%= cambiar_tabs @section %>

<h1>Sección '<%= @section %> '</h1>

<% action_area do %>
  <%= action 'icons/add.png', "añadir a '#{@section}'", {:action => 'nuevo', :id => @section } %>
<% end %>

<table>
  <thead>
    <tr>
      <td>Elementos en  '<%= @section %> '</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% for page in @pages %>
      <tr>
        <td><%= render_item page, @section %></td>
        <td class="actions">
          <%= link_to icon(:up, 'subir'), {:controller => 'admin/pages', :action => 'move_up', :id => page} %>
          <%= link_to icon(:down, 'bajar'), {:controller => 'admin/pages', :action => 'move_down', :id => page} %>
          <%= link_to icon(:edit, 'editar'), {:action => 'editar', :id => page} %>
          <%= link_to icon(:delete, 'borrar'),  [:admin, page], :confirm => "vas a borrar #{page.title}. ¿estás segurx?", :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
