<%= page_tabs(@page, 'Content')  %>

<h1>Página '<%= @page.title %>'</h1>

<div class="actions">
  <%= javascript_action('icons/edit.png', 'Guardar', "jQuery('form.edit_page').submit()") %>
  <%= action nil, 'Cancelar', admin_pages_path %>
</div>
<%= clear %>


<div class="formBox">
  <h1>Edit content</h1>
  
  <%= error_messages_for :page %>
  
  <% form_for([:admin, @page]) do |f| %>
    <div>
      <label>Título</label>
      <%= f.text_field :title %>
    </div>
    <div>
      <label>Estado</label>
      <%= f.select :state, Page::STATES %>
    </div>  
    <div>
      <label>Type</label>
      <%= f.text_field :mime %>
    </div>
    <div class="editor">
      <%= f.text_area :content, :id => 'wysiwyg' %>
    </div>
  <% end %>
</div>

<div class="formBox">
  <h1>Subir una imágen o archivo</h1>
  
  <%= error_messages_for :attachment %>
  
  <% form_for([:admin, @attachment], :html => { :multipart => true }) do |f| %>
    <%= f.hidden_field :page_id %>
    <div><label>Archivo:</label>
      <%= f.file_field :uploaded_data %>
    </div>
    <%= submit_button 'Añadir', "jQuery('#new_attachment').submit()" %>
  <% end %>
</div>
<%= clear  %>

<h1>Archivos e imágenes asociadas a esta página</h1>
<%= render :partial => '/admin/attachments/list', :locals => {:attachments => @page.attachments} %>



