<%= page_tabs(@page, 'Metadata')  %>
<h1>Página '<%= @page.title %>'</h1>


<% action_area do %>
  <%= action nil, 'Cancelar', [:admin, @page] %>
  <% end%>

<div class="formBox">
  <h1>Nombre y estado</h1>
  
<%= error_messages_for :page %>
  
  <% form_for([:admin, @page]) do |f| %>
    <div>
      <label>Título</label>
      <%= f.text_field :title %>
    </div>
    <div>
      <label>Estado</label>
      <%= f.select :state, Page::STATES %>
    </div>  
      <%= submit_button( 'Cambiar', "jQuery('form.edit_page').submit()" ) %>
  <% end %>
</div>

    
<div class="spacer">&nbsp;</div>
