

<% action_area do %>
  <%= action nil, 'Cancelar', admin_pages_url %>
<% end%>
  
<div class="formBox">
  <h1>Añadir <%= @page.parent.nil? ? 'una nueva área' : "una página hija de '#{@page.parent.title}'"  %></h1>
  
  <%= error_messages_for :page %>
  
  <% form_for([:admin, @page]) do |f| %>
    <%= f.hidden_field :parent_id unless @page.parent.nil?  %>
    <div>
      <label>Título</label>
      <%= f.text_field :title %>
    </div>
    <div>
      <label>Estado</label>
      <%= f.select :state, Page::STATES %>
    </div>  
    <%= submit_button( 'Crear', "jQuery('#new_page').submit()" ) %>
  
  
  <% end %>
</div>

<script type="text/javascript">
    jQuery(function() {
        jQuery('#page_title').focus();
    });
</script>
