<%= page_tabs(@page, 'contenido')  %>

<h1>Editando '<%= @page.title %>'</h1>

<%= error_messages_for :content %>

<div class="actions">
  <%= javascript_action('page_white_edit.png', 'guardar', "jQuery('form.edit_content').submit()") %>
  <%= action nil, 'Cancelar', project_pages_path(@project) %>
</div>
<%= clear %><br/><br/>

<% form_for([@project, @page, @content]) do |f| %>
  
  <div class="editor">
    <%= f.text_area :data, :id => 'wysiwyg' %>
  </div>

  
<% end %>

<%= clear %><br/>


<div id="imagesDialog" style="display: none">esto es el cuadro de diálogo</div>


<script type="text/javascript">
  jQuery(function()
    {
      Editor.init('<%= url_for :controller => 'editor', :action => 'select_image', :id => @project %>');
    });
    </script>
