<%= page_tabs(@page, 'contenido')  %>

<h1>Página '<%= @page.title %>'</h1>

<%= error_messages_for :content %>

<div class="actions">
  <%= javascript_action('page_white_edit.png', 'guardar', "jQuery('form.edit_content').submit()") %>
  <%= action nil, 'Cancelar', project_pages_path(@project) %>
</div>
<%= clear %><br/><br/>

<div class="formBox">
  <h1>Editar contenido</h1>
  <% form_for([@project, @page, @content]) do |f| %>
    <div>
      <label>Type</label>
      <%= f.text_field :mime %>
    </div>
    <div class="editor">
      <%= f.text_area :data, :id => 'wysiwyg' %>
    </div>
  <% end %>
</div>
<%= clear %>


