<%= project_tabs @project, 'general' %>

<h1>Proyecto: <%= @project.name %></h1>


<% action_area do %>
  <%= action 'page_white_add.png', 'modificar', edit_project_path %>
  <%= action 'user_add.png', 'Añadir nuevo usuario', new_project_user_path(@project) %>
  <%= action nil, 'ver parte pública', @project.public_url %>
<% end %>

<div class="formBox">
  id: <%= @project.id %><br/>
  nombre: <%= @project.name  %><br/>
  url: <%= @project.public_url %><br/>
  root: <%= @project.page.id %>  
</div>

<div class="spacer">&nbsp;</div>

<h2>Usuarios</h2>
<table style="width: 50%">
  <thead>
    <tr><td>email</td>
      <td></td>
    </tr>
  </thead>
  <tbody>  
    <% for user in @project.users %>
      <tr>
        <td><%= user.email %></td>
        <td class="table_actions"><%= link_to 'Show', [@project, user] %>
          <%= link_to 'Edit', edit_project_user_path(@project, user) %>
          <%= link_to 'Destroy', [@project, user], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>


