<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>calc</title>
    <%= javascript_include_tag 'apy/jquery-1.2.6.pack.js' %>
    <%= stylesheet_link_tag 'xy/xy.css' %>
    <%= yield :header %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <%= link_to ' ', {:action => 'index'}, :id => 'logo'  %>
        <div id="mail"></div>
        <div id="calc_name">c o l e c t i v o &nbsp; a t í p i c o &nbsp; l a b o r a t o r i o &nbsp; c u l t u r a l </div>
      </div>
      <div id="tabs">
        <%= link_to 'H O M E', {:action => 'home'}, :class => (params[:action] == 'home' ? 'active' : '') %>
        <%= link_to 'B O O C', {:action => 'booc'}, :class => (params[:action] == 'booc' ? 'active' : '') %>
        <%= link_to 'F I L E S', {:action => 'files'}, :class => (params[:action] == 'files' ? 'active' : '') %>
        <%= link_to 'C E L L', {:action => 'cell'}, :class => (params[:action] == 'cell' ? 'active' : '') %>
        <%= link_to 'B I O B I B L I O', {:action => 'biobiblio'}, :class => (params[:action] == 'biobiblio' ? 'active' : '') %>
        <%= link_to 'T X T \' s', {:action => 'txts'}, :class => (params[:action] == 'txts' ? 'active' : '') %>
        <div>&nbsp;</div>
      </div>
      <div id="page">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
