
<h1>Insertar una imágen</h1>

<div id="images">
  <% for image in @images %>
      <% div_for image do %>
                <%= image_tag image.public_filename(:thumb), :alt => image.filename + '(thumbnail)' %>
                <%= image.filename %> (<%= image.content_type %>)
      <div class="url"><%= image.public_filename %></div>
    <% end %>
<% end%>
<%= clear %>
</div>