
<div class="boocs main">
  <% for booc in @boocs %>
    <div class="booc">
      <h1><%= booc.title %></h1>
      <div class="date"><%= booc.created_at %></div>
      <div class="body"><%= booc.content %></div>
      <div class="response">
        <h1>Responses</h1>
        <% form_for :response, :url => {:action => 'booc_response', :id => booc.id} do |f| %>
          <div class="no_spam"><%= f.text_area :mime %></div>
          <label>name:</label><%= f.text_field :title %><br/>
            <%= f.text_area :content %><br/>
            <%= f.submit 'respond' %>
        <% end %>
      </div>
      <%= clear %>
      <div class="image">
        <% if booc.attachment(:booc) %>
          <%= image_tag booc.attachment(:booc).public_filename %>
        <% end %>
      </div>
    </div>
    <br/>
  <% end  %>
</div>

<%= clear %>
<br/><br/><br/>