
<h1>&nbsp;</h1>

<ul class="selector">
  <% for year in @years -%>
    <% if year == @year -%>
      <li class="active"><%= year %>
        <ul><% for booc in @boocs -%>
          <li><%= link_to booc.meta(:year), "#booc#{booc.id}" %></li>
        <% end -%></ul>
      </li>
    <% else -%>
      <li><%= link_to year, :year=> year %></li>
    <% end -%>
  <% end -%>
</ul>

<div class="boocs main">
  <% for booc in @boocs %>
    <div class="booc">
      <h1><a name="booc<%= booc.id %>"><%= booc.title %></a></h1>
      <div class="date"><%= booc.meta(:year) %></div>
      <div class="body"><%= redcloth booc.content %></div>
      <div class="response">
        <h1>Responses</h1>
        <% form_for :response, :url => {:action => 'booc_response', :id => booc.id} do |f| %>
          <div class="no_spam"><%= f.text_area :mime %></div>
          <label>name:</label><%= f.text_field :title %><br/>
          <%= f.text_area :content %><br/>
          <%= f.submit 'respond' %>
        <% end %>
      </div>
      <%= clear %>
      <div class="image">
        <% if booc.attachment(:thumb) %>
          <%= image_tag booc.attachment(:thumb).public_filename %>
        <% end %>
      </div>
    </div>
    <br/>
  <% end  %>
</div>

<%= clear %>
<br/><br/><br/>