<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Apy &mdash; </title>
    <%= javascript_include_tag 'apy/jquery-1.2.6.pack.js' %>
    <% # stylesheet_link_tag 'blueprint/screen.css', :media => 'screen, projection'  %>
    <% #  stylesheet_link_tag 'blueprint/print.css', :media => 'print'  %>
    <%= stylesheet_link_tag 'apy/apy.css' %>
    <%= yield :header %>
  </head>
  <body>
    <div id="page" style="border-bottom: 1em solid <%= color_of @area %>;">

      <!-- areas -->
      <div id="areas">
        <div class="area" style="background-color: #24419B;">
            <a href="/apy/ver/pagina/8" class="selected"><img alt="Logo" src="/images/apy/logo.gif?1220283534" /></a>
        </div>
        <% @roots.each do |page| -%>
          <% display = page.title == 'APY' ? image_tag('apy/logo.gif') : page.title -%>
          <div class="area" style="background-color: <%= color_of page %>;">
            <%= link_to display, {:action => 'pagina', :id => page}, :class => (page == @area ? 'selected' : '') -%>
          </div>
        <% end -%>
        <div class="search_area"><label>buscar</label><% form_tag :action => 'buscar' do %><%= text_field_tag :term %><% end %>
        </div>
      </div>
      <div id="line" style="background-color: <%= color_of @area %>;">&nbsp;</div>

      <!-- menu -->
      <div id="menu" style="background-color: <%= color_of @area %>;">
        <%= render :partial => '/layouts/apy/menu_items', :locals => {:root => @area} %>
      </div>

      <!-- content -->
      <div style="border-right: 1em solid <%= color_of @area %>;">
        <div id="content-wrapper">
          <div id="content" >
            <%= yield  %>
          </div>
        </div>
      </div>

      <%= clear %>
    </div>
  </body>
</html>
