
<%= project_tabs 'usuarios'  %>

<h1>Usuarios</h1>

<% action_area do %>
  <%= action 'user_add.png', 'Añadir nuevo usuario', new_admin_user_path %>
<% end %>


<table>
  <thead>
    <tr><td>email</td>
      <td></td>
    </tr>
  </thead>
  <tbody>  
    <% for user in @users %>
      <tr>
        <td><%= user.email %></td>
        <td class="table_actions"><%= link_to 'Show', [:admin, user] %>
          <%= link_to 'Edit', edit_admin_user_path(:admin, user) %>
          <%= link_to 'Destroy', [:admin, user], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>


