<%= project_tabs '' %>

<div class="formBox">
<h1>Añadir un nuevo usuario</h1>
<%= error_messages_for :user %>

<% form_for([:admin, @user]) do |f| %>
  <div><span>Email</span>
<%= f.text_field :email%>
  </div>
  <div><span>Contraseña</span>
<%= f.password_field :password %>
  </div>

  <%= submit_button( 'Crear', "jQuery('#new_user').submit()" ) %>
<% end %>
</div>

