<%=  project_tabs  'general' %>

<h1><%= @project.title %></h1>

<% action_area do %>
  <%= action 'page_white_add.png', 'modificar', :action => 'edit' %>
  <%= action 'user_add.png', 'Añadir nuevo usuario', new_admin_user_path %>
  <%= action nil, 'ver parte pública', '/' %>
<% end %>

<div class="spacer">&nbsp;</div>

<h2>Usuarios</h2>
<table style="width: 50%">
  <thead>
    <tr><td>email</td>
      <td></td>
    </tr>
  </thead>
  <tbody>  
    <% for user in @users %>
      <tr>
        <td><%= user.email %></td>
        <td class="table_actions">
          <%= link_to 'Show', [:admin, user] %>
          <%= link_to 'Edit', edit_admin_user_path(user) %>
          <%= link_to 'Destroy', [:admin, user], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>


