<%= cambiar_tabs @section %>

<h1><%=  @section%></h1>

<% action_area do %>
    <%= action nil, 'añadir', {:action => 'nuevo', id => @section } %>
  <%= action nil, 'ver parte pública', {:controller => 'solidaridad', :action => 'ver', :id => @section }%>
<% end %>


<table>
  <thead>
    <tr>
      <td>Título</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% for page in @pages %>
      <tr>
        <td><%= page.title %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
