<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Administración <%= "de la web " + @project.title if !@project.nil? %> </title>
    <%= stylesheet_link_tag 'reset', 'admin/admin.css', 'jquery.wysiwyg.css', 'facebox.css', 
      'admin/forms.css', 'dialogs.css', 'si/cambiar.css', 'si/items.css', :cache => false  %>
    <%= javascript_include_tag 'jquery-1.2.3.min.js', 'jquery.wysiwyg.js', 'editor.js', 'facebox.js', :cache => false %>
    <%= javascript_include_tag 'jquery.blockUI.js' %>
  </head>
  <body>
    
    
    <div id="header">
      <h1><a href="/"><%= @site.title %></a></h1>
      <div class="flash"><%= flash[:notice] %>&nbsp;</div>
    </div>
    
    <div id="page">
      
      <%= yield  %>
      
    </div>
    <div id="bottom">
      hecho-a-mano por c a l c
    </div>    
  </body>
</html>