<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>YUI Base Page</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/2.5.1/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
    <%= stylesheet_link_tag 'si/si_ver.css', 'si/items.css', :cache => false %>
  </head>
  <body>
    <div id="custom-doc" class="yui-t4">
      <div id="hd"><h1>YUI: CSS Grid Builder</h1></div>
      <div id="bd">
        <div id="yui-main">
          <div class="yui-b"><div class="yui-gf">
              <div class="yui-u first">
                <div id="logo"><%= image_tag('solidaridad/logo.gif') %></div>
                <div id="menu">
                  <% for area in @content.children %>
                    <div class="area"><%= area.title %></div>
                    <% for item in area.children %>
                      <div class="item <%= 'selected' if !@page.nil? && item.id == @page.id %> "><%= link_to item.title, {:action => :pagina, :id => item} %></div>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="yui-u">
                <a href="/"><div id="banner">&nbsp;</div></a>
                <div id="areas">
                  <%= link_to img_nav('foro', @name), :action => 'foro' %>
                  <%= link_to img_nav('agenda', @name), :action => 'la', :id => 'agenda' %>
                  <%= link_to img_nav('actualidad', @name), :action => 'la', :id => 'actualidad'  %>
                  <%= link_to img_nav('materiales', @name), :action => 'los', :id => 'materiales'  %>
                  <%= link_to img_nav('videos', @name), :action => 'los', :id => 'videos'  %>
                  <%= link_to img_nav('enlaces', @name), {:action => 'los', :id => 'enlaces'},
                    :id => 'last' %>
                  <%= clear %>
                </div>
                <%= yield  %>
              </div>
            </div>
          </div>
        </div>
        <div class="yui-b"><!-- YOUR NAVIGATION GOES HERE -->
          <div id="news">
            <div class="actualidad" style="background-color: #377292;" >
              <h1 style="background-color: #2D5D77;">actualidad</h1>
              <div class="content">
                <%= link_to @actualidad.content + ' ' + @actualidad.title, :action => 'la', :id => 'actualidad' %>
              </div>
            </div>
            <div class="agenda" style="background-color: #3A8722;" >
              <h1 style="background-color: #32741D;">agenda</h1>
              <div class="content">
                <%= link_to @agenda.first_line + ' ' + @agenda.title, :action => 'la', :id => 'agenda' %>
              </div>
            </div>
            <div class="foro" style="background-color: #D07E11;" >
              <h1 style="background-color: #A9660E;">foro</h1>
              <div class="content">
                <%= link_to( (@tema.content.nil? ? '' : @tema.content), :action => 'foro') %>
              </div>
            </div>
            <img id="sponsor1" class="sponsor" src="/images/solidaridad/patrocinador1.gif" />
            <img id="sponsor2" class="sponsor" src="/images/solidaridad/patrocinador2.gif" />
            
          </div>
        </div>

      </div>
      <div id="ft">Footer is here.</div>
    </div>




    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-3241357-8");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>


  </body>
</html>
